<section id="dashboard">
  <header>
    <div class="pull-right">
      <button id="refresh-btn" class="btn"><i class="icon-refresh"></i> Refresh</button>
    </div>
    <h1>Dashboard</h1>
  </header>
</section>
<section id="levels-stats">
</section>
