<div class="container container-other">
  <div class="row">
    <div class="span4 offset4 well">
        <legend>Forbidden</legend>
        <p>Only Castle administrators can access the console. <a id="sign-in-btn" href="/sign-in">Sign in</a> or <a id="sign-up-btn" href="/sign-up">create new account</a>.</p>
    </div>
  </div>
</div>
