<div id="top-nav"></div>
<div id="toast" class="toast"></div>
<div class="container container-main">
    <div class="row-fluid">
        <div id="side-nav" class="span3"></div>
        <div id="content-wrapper" class="span9">
            <div id="content"></div>
        </div>
    </div>
</div>
