<aside>
  <nav>
    <ul class="nav">
      <li id="dashboard-view-sel">
        <a href="/" data-c-uri=""><i class="icon-dashboard icon-white"></i> Dashboard</a>
      </li>
      <li id="levels-view-sel">
        <a href="/levels" data-c-uri="levels"><i class="icon-th-list icon-white"></i> Levels</a>
      </li>
      <li id="users-view-sel">
        <a href="/users" data-c-uri="users"><i class="icon-user icon-white"></i> Users</a>
      </li>
    </ul>
  </nav>
</aside>
